.jumbotron{
	margin-top:40px;
	background-color: #003580;
	color:white;
}

.servicios{
	padding-top:10px;
}

.btnservice{
	color:#009FE2;
	padding:12px;
	font-size: 50px;
	text-align: center;
}

.card-hotel{
	flex: 1 300px;
	margin-top:12px;
}
 
 .tab-content{
 	padding-top: 6px;
 }

}
a:link {
  text-decoration: none;
}
a:hover{
	color:yellow;
	text-decoration: none;
}


.card-img{
	opacity: 1.9;
}

.bannercentral{
	max-width: 768px;
	margin:auto;
	padding:3px;
}

/*.card{
	display: inline-block;
}
@media(min-width:360px){
	.card-columns{1;
	} 
}
@media(min-width:576px){
	.card-columns{2;
	} 
}

@media(min-width:768px){
	.card-columns{3;
	} 
}

@media(min-width:992px){
	.card-columns{4;
	} 
}
*/



.btn-reserva{
	width: 100%;
	border-radius: 0px;
}
.footer-address-icon{
	padding-right: 10px;
}

.btnplus{
	padding-right: 4px;
}
footer{
	padding: 5px;
	background-color: #003580;
	color:white;
}
footer a{
	color:white;
}