$yellow :#666600;
$red:#EE4C4C;
$green:#008000;

@mixin padding($top , $bottom ){
padding-top: $top;
padding-bottom:$bottom;
}

@mixin textbold ($tbold){
font-weight: $tbold;
}



.jumbotron{
	margin-top:40px;
	@include padding (20px ,40px);
	background-color: $green;
	color:white;
}

.servicios{
	@include padding (20px, 40px);
}

.btnservice{
	color:$green;
	padding:12px;
	font-size: 50px;
	@include textbold (bolder);
	text-align: center;
}

.card-hotel{
	flex: 1 300px;
	margin-top:12px;
	@include padding (20px ,24px);
	background-color:$red;
	@include textbold (bolder);
}
 
 .tab-content{
 	@include padding (20px , 35px);
 
}
a:link {
  text-decoration: none;
  @include textbold (bolder);
}
a:hover{
	color:$red;
	text-decoration: none;
	@include textbold (bolder);
}


.card-img{
	opacity: 1.9;
}

.bannercentral{
	max-width: 768px;
	margin:auto;
	@include padding (20px ,16px);
}


.btn-reserva{
	width: 100%;
	border-radius: 0px;
}
.footer-address-icon{
	padding-right: 10px;
}

.btnplus{
	padding-right: 4px;
}
footer{
	@include padding (20px ,16px);
	background-color: $yellow;
	color:$red;
}
footer a{
	color:$red;
}