@yellow :#FAF604 ;
@red:#D43516 ;
@green:#27F012 ;

.padding(@top , @bottom ){
padding-top: @top;
padding-bottom:@bottom;
}

.textbold (@tbold){
font-widht: @tbold;
}



.jumbotron{
	margin-top:40px;
	.padding (20px, 40px);
	background-color: @green;
	color:white;
}

.servicios{
	.padding (20px, 40px);
}

.btnservice{
	color:@green;
	padding:12px;
	font-size: 50px;
	.textbold (bolder);
	text-align: center;
}

.card-hotel{
	flex: 1 300px;
	margin-top:12px;
	.padding (20px, 40px);
	background-color:@red;
	.textbold (bolder);
}
 
 .tab-content{
 	.padding (20px, 40px);
 
}
a:link {
  text-decoration: none;
  .textbold (bolder);
}
a:hover{
	color:@red;
	text-decoration: none;
	.textbold (bolder);
}


.card-img{
	opacity: 1.9;
}

.bannercentral{
	max-width: 768px;
	margin:auto;
	.padding (20px, 22px);
}


.btn-reserva{
	width: 100%;
	border-radius: 0px;
}
.footer-address-icon{
	padding-right: 10px;
}

.btnplus{
	padding-right: 4px;
}
footer{
	.padding (20px, 22px);
	background-color: @yellow;
	color:@red;
}
footer a{
	color:@red;
}