.jumbotron {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #27F012;
  color: white;
}
.servicios {
  padding-top: 20px;
  padding-bottom: 40px;
}
.btnservice {
  color: #27F012;
  padding: 12px;
  font-size: 50px;
  font-widht: bolder;
  text-align: center;
}
.card-hotel {
  flex: 1 300px;
  margin-top: 12px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #D43516;
  font-widht: bolder;
}
.tab-content {
  padding-top: 20px;
  padding-bottom: 40px;
}
a:link {
  text-decoration: none;
  font-widht: bolder;
}
a:hover {
  color: #D43516;
  text-decoration: none;
  font-widht: bolder;
}
.card-img {
  opacity: 1.9;
}
.bannercentral {
  max-width: 768px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 22px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.btnplus {
  padding-right: 4px;
}
footer {
  padding-top: 20px;
  padding-bottom: 22px;
  background-color: #FAF604;
  color: #D43516;
}
footer a {
  color: #D43516;
}
