.jumbotron {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #008000;
  color: white;
}

.servicios {
  padding-top: 20px;
  padding-bottom: 40px;
}

.btnservice {
  color: #008000;
  padding: 12px;
  font-size: 50px;
  font-weight: : bolder;
  text-align: center;
}

.card-hotel {
  flex: 1 300px;
  margin-top: 12px;
  padding-top: 20px;
  padding-bottom: 24px;
  background-color: #EE4C4C;
  font-weight: : bolder;
}

.tab-content {
  padding-top: 20px;
  padding-bottom: 35px;
}

a:link {
  text-decoration: none;
  font-widht: bolder;
}

a:hover {
  color: #EE4C4C;
  text-decoration: none;
  font-widht: bolder;
}

.card-img {
  opacity: 1.9;
}

.bannercentral {
  max-width: 768px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 16px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}

.btnplus {
  padding-right: 4px;
}

footer {
  padding-top: 20px;
  padding-bottom: 16px;
  background-color: #666600;
  color: #EE4C4C;
}

footer a {
  color: #EE4C4C;
}

/*# sourceMappingURL=style.css.map */
